<!DOCTYPE html>
<html>
<head>
  <title>Toy Robot Simulator</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag "robot" %>
<script type="text/javascript" charset="utf-8">
  $( document ).ready(function() {
    console.log( "ready!" );
    init();
    shortcut.add("Ctrl+Shift+N",function() {alert("Send MOVE NORTH");});
    shortcut.add("Ctrl+Shift+S",function() {alert("Send MOVE SOUTH");});
    shortcut.add("Ctrl+Shift+W",function() {alert("Send MOVE WEST");});
    shortcut.add("Ctrl+Shift+E",function() {alert("Send MOVE EAST");});
  });
</script>
</body>
</html>
